<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">Demo app</div>
        </div>
        <ul class="nav navbar-nav">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="page1">Page 1</a></li>
            <li><a ui-sref="page2">Page 2</a></li>
            <li class="dropdown" uib-dropdown>
                <a href class="dropdown-toggle" id="so2Dropdown" uib-dropdown-toggle>Examples<span class="caret"></span></a>
                <ul class="so2Dropdown" uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <li><a ui-sref="posts">Posts</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>